@import "../../app.scss";

.root {
    position: relative;
    height: 100%;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(25, 23, 46, 0.9);
        z-index: -1; /* Ensure the overlay is below the content */
    }

    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        height: 100vh;
        padding: 10%;

        @include mobile {
            flex-direction: column; /* Change flex direction to column */
            justify-content: center;
            padding: 20px; /* Adjust padding for mobile */
            height: auto; /* Adjust height for mobile */
        }

        .text {
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            position: relative;
            z-index: 1;

            @include mobile {
                width: 100%; /* Full width on mobile */
                text-align: center; /* Center text on mobile */
                align-items: center; /* Center align items */
                margin-bottom: 20px; /* Margin at bottom to separate from the image */
            }

            h1 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }

            h2 {
                font-size: 50px;
                line-height: 2rem;
                margin-bottom: 3rem;
                font-weight: bold;
                color: white;

                @include mobile {
                    font-size: 25px; /* Adjust font size for mobile */
                    line-height: 1.5rem; /* Adjust line height for mobile */
                    margin-bottom: 1.5rem; /* Adjust margin for mobile */
                }
            }

            .para {
                font-size: 19px;
                color: rgb(249, 247, 247);
                width: 100%;

                @include mobile {
                    font-size: 16px; /* Adjust font size for mobile */
                }
            }
        }

        .pic {
            height: auto;
            width: 60%;
            z-index: 1;
            margin-left: 23em;

            @include mobile {
                width: 50%; /* Adjust width for mobile */
                margin-left:100px ; /* Remove left margin for mobile */
                margin-top: 20px; /* Add margin at top to separate from text */
            }
        }
    }
}
