@import "../../app.scss";

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;

    .bg{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 400px;
      background-color: white;

      @include mobile{
        width: 200px;
    }

        .links{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        .item{
    &::after {
        content: '';
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 3px; /* after:h-[3px] */
        background-color: #131312; /* after:bg-yellow-400 */
        width: 100%; /* after:w-full */
        transform: scaleX(0); /* after:scale-x-0 */
        transition: transform 0.3s; /* after:transition after:duration-300 */
        transform-origin: center; /* after:origin-center */
    }

    &:hover::after {
        transform: scaleX(1); /* after:hover:scale-x-100 */
    }
}
            

            a{
                font-size: 40px;

                @include mobile{
                   font-size: 20px;
                }
                
            }
        }
    }

    button{
     width: 50px;
     height: 50px;
     border-radius: 50%;
     position: fixed;
     top: 25px;
     left: 25px;
     background-color: transparent;
     border: none;
     cursor: pointer;
    }

    .icon {
        width: 100%;
        height: 100%;
    }

}